/* .backg{
    background-image: url('../../../public/bg-navbar.png');
} */
.couleur{
    background: #006FAA;
    
}
.compte{ 
  
  text-decoration: none;

}
.compte:hover{
  cursor:pointer;
}
.inner::-webkit-scrollbar {
  display: none;
}
.inner {
  -ms-overflow-style: none; 
}